{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Распродажник - {{ title }} </title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

<div class="container">
	<div class="item header">
        Header
    </div>
	<div class="item sidebar">
        <ul>
            {% for key, value in menu.items %}
	        <li> <a href="{{ value }}"> {{ key }} </a> </li>
            {% empty %}
            <li>Пустой список</li>
            {% endfor %}
        </ul>
    </div>
	<div class="item content">
        {% block content %}
        {% endblock %}
    </div>
</div>

</body>
</html>